.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0,0,0.3);
}

.sharewrapper{
    padding: 10px;
}

.shareprofileimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.sharetop{
    display: flex;
    align-items: center;
}

.shareinput{
    border: none;
    width: 80%;
}

.shareinput:focus{
    outline: none;
}

.sharehr{
    margin: 20px;
}

.sharebottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareoptions{
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.shareopttion{
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.shareicon{
    font-size: 18px;
    margin-right: 5px;
}

.redclr{
    color: red;
}

.blueclr{
    color: blue;
}

.greenclr{
    color: gray
}

.golderclr{
    color: gold;
}

.shareoptiontext{
    font-size: 14px;
    font-weight: 500;
}

.sharebutton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight:700;
    background-color: green;
    margin-right: 20px;
    color: white;
}