.topbarcontainer{
    height: 50px;
    width: 100%;
    background-color: #1f77f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.topbarLeft{
    flex: 3;
}
.topbarCenter{
    flex: 5;
}
.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.logo{
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
    font-weight: bold;
    color: white;
}

.topbarimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.searchbardiv{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.search-icon{
    font-size: 15px !important;
    margin-left: 10px;
}

.searchInput{
    border: none;
    margin-left: 6px;
    width: 70%;
}

.searchInput:focus{
    outline: none;
}

.topbarlinks{
    margin-right: 10px;
    font-style: 14px;
    cursor: pointer;
}

.topbaricons{
    display: flex;
}

.topbariconitem{
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.topbariconbatch{
    width: 20px;
    height: 18px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}